
.parent {
    position: relative;
    top: 50%;
    transform: translate(0, 50%);
    left: 0;
    height: 100vh;
    /* border: 1px white solid; */
    touch-action: manipulation;
  }

.plant {
    position: relative;
    top: 0;
    left: 0;
    /* border: 1px red solid; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    width: calc(1/height);
    height: 100vh;
    touch-action: manipulation;
}

.tomato {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: auto;
    margin-top: auto;
    transform: translate(-50%, -50%);
    width: 20%;
    /* visibility: hidden; */
    /* border: 1px green solid; */
    touch-action: manipulation;
}

.tomato_holder{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 20vh;
    height: 10vh;
    visibility: hidden;
    touch-action: manipulation;
}

#description{
    color: white;
    position: absolute;
    margin-left: auto;
    margin-top: auto;
    left: 50%;
    font-size: 2vh;
    transform: translate(-50%, -400% );
}

.pot{
    position: absolute;
    width: 200px;
    transform: translate(50%, -100% );
}

body{
    background-color: black;
    touch-action: manipulation;
}

