@charset "UTF-8";


#main_nav {
  width: 85%;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  padding-top: 10px;
  position: absolute;
}

#main_nav div {
   -webkit-flex: 1; /* Safari 6.1+ */
   flex: 1;
   /* padding-top: 30px; */
}

#second_nav_items {
  padding-left: 10%;
  /* background-color: rgb(0,0,0); */
  width: 60%;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  top: 0;
  visibility: hidden;
  width: fill;
  position: fixed;
}

#second_nav_items div {
  -webkit-flex: 1; /* Safari 6.1+ */
  flex: 1;
}






body {
    /* background-color: rgb(7, 3, 0); */
    /* background-color: rgb(23, 21, 37); */

    /* --brown: rgb(90, 28, 0); */
    /* --brown: rgb(205, 93, 0); */
    --brown: rgb(119, 49, 0);
    /* background-color: var(--brown); */
    /* , rgb(135, 23, 0) */
    /* background-image: linear-gradient(rgb(215, 113, 30), var(--brown)); */
    background-image: linear-gradient(rgb(215, 113, 30), rgb(109, 59, 0));
    /* background-image: linear-gradient(rgb(205, 93, 0),var(--brown),var(--brown), var(--brown),var(--brown), var(--brown), var(--brown), var(--brown), var(--brown), rgb(205, 93, 0)); */
    /* background-image: linear-gradient(black, black,black , black, black, black, rgb(15, 10, 0), rgb(205, 93, 0)); */
    background-attachment: fixed;
    margin:0;
    top:0;


}


h1 {
    color: white;
    /* color: rgb(251, 153, 51); */
    padding-right: 4%;
    padding-left: 4%;
    /* color: rgb(255, 240, 180); */
    /* color: rgb(183, 191, 217); */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 275%;


}

#nav1_link1 {
  margin-left: 15%;
}

#navbars{
  position: relative;

}

#first_background {
  padding-bottom:40%;
  background-size: 100% 100%;
  background-image: url("Images/beach.jpg");
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px 5px 55px black;

}

#first_background-content{
  position: absolute;
  bottom: 0;
}


#nav1_link1, #nav1_link2, #nav1_link3, #nav1_link4 {
	text-align: center;
  padding-top: 15px;

	}

#nav2_link1, #nav2_link2, #nav2_link3, #nav2_link4 {
	text-align: center;
  padding-top: 10px;


	}

#nav2_link1{
margin-left: 35%;
}

#spread_link {
  margin-left: 2%;
  margin-right: 10%;
}

#link_home, #link_resume, #link_current, #link_projects {

	text-align: center;
  /* color: rgb(215, 103, 0); */
  color: rgb(255, 143, 40);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
  font-weight: lighter;

}



#link_home2:hover, #link_resume2:hover, #link_current2:hover, #link_projects2:hover {
  /* color: rgb(255, 240, 180); */
  color: rgb(235, 133, 50);
  /* color: white; */
}


#link_home:hover, #link_resume:hover, #link_current:hover, #link_projects:hover {
  /* color: rgb(255, 240, 180); */
  color: rgb(255, 255, 255);
}


#menu_links {
  padding-top: 10%;
}

#PROJECTS {
  height: auto;
}

.project1 { grid-area: one; }
.project2 { grid-area: two; }
.project3 { grid-area: three; }
.project4 { grid-area: four; }


.grid-container {
  display: grid;
  grid-template-areas:
    'one one       two two'
    'one one       two two'
    'one one       four four'
    'three three   four four'
    'three three   four four';
  grid-gap: 35px;
  /* background-color: #2196F3; */
  /* padding: 10px; */
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50%;
}

.grid-container > div {
  background-color: rgb(89, 39, 0);
  text-align: center;
  /* padding: 20px 0; */
  font-size: 30px;
}


.project1, .project2, .project3, .project4 {
  position: relative;
  width: 100%;

}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project1:hover .image, .project2:hover .image, .project3:hover .image , .project4:hover .image  {
  opacity: 0.2;

}


.project1:hover .middle, .project2:hover .middle, .project3:hover .middle, .project4:hover .middle {
  opacity: 1;

}

.text {
  /* background-color:rgb(89, 39, 0); */
  /* background-color:black; */
  font-family: Arial, Helvetica, sans-serif;
  /* color: rgb(255, 213, 130); */
  color: white;
  font-size: 15px;
}







#nav2_background{
  top:0;
  height: 40px;
  color: transparent;
  position: fixed;
  width: 100%;
  visibility: hidden;
  z-index: 1;

  /* background-color: rgb(63, 61, 85); */
  /* background-color: rgb(215, 103, 0); */
  /* background-color: rgba(205, 93, 0, .5); */
  /* background-color: rgb(135, 23, 0, .6); */
  /* background-color: rgb(97, 36, 1, .9); */
    background-color: rgb(89, 39, 0, .95)
}

#link_home2, #link_resume2, #link_current2, #link_projects2 {

	text-align: center;
  color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
  font-weight: lighter;
  position: relative;
  z-index: 2;

}


a{
	text-decoration: none;
	}
