@charset "UTF-8";


body {
    background-image: url("Images/beach.jpg");
    background-color: rgb(201, 76, 0);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}


h1 {
    color: rgb(10, 10, 10);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 350%;


}

#link {
	text-align: center;
	}

#one {
	color: rgb(230, 230, 230);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 200%;
}


#two {
	color: rgb(230, 230, 230);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 200%;
}

a:hover {
    font-weight: bold;
}


a{
	text-decoration: none;
	}
