@charset "UTF-8";



body{
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}








#name_background{
  padding-bottom:10%;
  width: 100%;
  background-color: transparent;
}



#profile_pic{
  position: absolute;
  width: 15%;
  padding-top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0px;
}

#info{
  position: absolute;
  padding-top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#name{
  position: relative;
  color: rgb(82, 83, 83);
  font-size: 5vw;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, -50%);
  
  
}

#description{
  position: relative;
  color:  rgb(135, 138, 138);
  font-size: 1.8vw;
  width: fit-content;
  padding-top: 5%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}


#first_project {
  margin-top: 50%;
}

#third_project {
  margin-top: 0%;
}


#first_project, #third_project{
  padding-bottom: 30%;
  width: 100%;
  color: transparent;
  /* background: rgb(71,96,113);
  background: linear-gradient(350deg, rgba(71,96,113,1) 0%, rgba(111,142,164,1) 100%); */
  background-color: white;
  position: relative;
}

#ASML, #robotics{
  float: left;
  width: 50%;
  /* border-color: black;
  border-style: dashed; */

}

#ASML_img, #robot_img{
  position: relative;
  width: 60%;
  margin-left: 50%;
  transform: translate(-40%, 0%);
}


#ASML_description, #robotics_description{
  color: rgb(135, 138, 138);
  float: right;
  font-size: 2vw;
  width: fit-content;
  margin-right: 15%;
  text-align: center;
  margin-top: 7%;
  text-decoration: none;
  /* border-color: black;
  border-style: dashed; */
}

#ASML_description:hover, #robotics_description:hover{
  color:  rgb(78, 78, 78);
  float: right;
  font-size: 2vw;
  width: fit-content;
  margin-right: 15%;
  text-align: center;
  margin-top: 7%;
  /* border-color: black;
  border-style: dashed; */
}

#second_project, #fourth_project{
  margin-top: 0%;
  padding-bottom: 30%;
  width: 100%;
  color: transparent;
  /* background: rgb(71,96,113);
  background: linear-gradient(350deg, rgba(71,96,113,1) 0%, rgba(111,142,164,1) 100%); */
  background-color: white;
  position: relative;
}

#watch, #game{
  float: right;
  width: 40%;
  /* border-color: black;
  border-style: dashed; */

}

#watch_img, #game_img{
  position: relative;
  width: 80%;
  margin-left: 50%;
  transform: translate(-60%, 0%);
}

#game_img{
  width: 60%;
}


#watch_description, #game_link{
  color: rgb(135, 138, 138);
  float: left;
  font-size: 2vw;
  width: fit-content;
  margin-left: 15%;
  text-align: center;
  margin-top: 7%;
  text-decoration: none;
  /* border-color: black;
  border-style: dashed; */
}

#watch_description:hover, #game_link:hover{
  color:  rgb(78, 78, 78);
  float: left;
  font-size: 2vw;
  width: fit-content;
  margin-left: 15%;
  text-align: center;
  margin-top: 7%;
  text-decoration: none;
  /* border-color: black;
  border-style: dashed; */
}

.arrow{
  position: absolute;
  padding-top: 75%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid rgb(216, 216, 216);
  border-right: 5px solid  rgb(216, 216, 216);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-5px,-5px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(5px,5px);
  }
}
